* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,102,121,1) 39%, rgba(0,220,255,0.936186974789916) 100%);;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}



/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 15%;
  /*height: 300px;  only for demonstration, should be removed */
  background: background: rgb(0,26,36);
background: linear-gradient(90deg, rgba(0,26,36,1) 0%, rgba(63,124,63,1) 39%, rgba(0,255,200,0.698091736694678) 100%);;
 padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #7393B3;
  /* height: 300px;  only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,102,121,1) 39%, rgba(0,220,255,0.936186974789916) 100%);;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
